.spotContainer {
    font-size: small;
    /* border: 1px black solid; */
    margin: 1rem;
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
}

.spotPreviewImage {
    width: 200px;
    height: 200px;
}

.data {}

.dataLevelOne {
    display: flex;
    align-items: center;
    justify-content: space-between;
}





.spotCityState {
    margin: .25rem 0 0 0 ;

}

.spotRatingContainer {
    display: flex;
    flex-direction: row;
}

.spotFaStar {
    margin: 0 .25rem 0 0;
}

.spotAvgRating {
    margin: 0;
}

.spotPrice {
    margin: .5rem 0 0 0 ;
}
