#DeleteSpotModalMain {
    width: 40rem;
    height: 30rem;
}

#DeleteSpotModalH1 {
    text-align: center;
}

#DeleteSpotModalP {
    text-align: center;
}


#DeleteSpotModalButtonContainer{
    margin: 2rem 4rem 4rem 4rem;
    padding: 2rem 0rem 0rem 0rem;
    border: 1px #FF5A5F solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* delete spot button------------------------------------- */
#YesDeleteSpotButton {
    margin: 1rem 0 2rem 0;
    width: 16rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 25px;
    border: 1px solid #FE595D;
    color: white;
    background-color: #FE595D;
}

#YesDeleteSpotButton:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

#YesDeleteSpotButton:active{
    cursor: pointer;
    color: #FE595D;
    background-color: rgba(255, 255, 255, .5);
}


/* keep spot button------------------------------------- */

#NoKeepSpotButton {
    margin: 1rem 0 2rem 0;
    width: 16rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 25px;
    border: 1px solid #FE595D;
    color: white;
    background-color: #FE595D;
}

#NoKeepSpotButton:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

#NoKeepSpotButton:active{
    cursor: pointer;
    color: #FE595D;
    background-color: rgba(255, 255, 255, .5);
}
