#CreateNewSpotMain {

}

h1 {
    text-align: center;
}


#CreateNewSpotForm{
    margin: 2rem 4rem 4rem 4rem;
    padding: 4rem 0rem 0rem 0rem;
    border: 1px #FF5A5F solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.CreateNewSpotFormLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CreateNewSpotFormInput {
    margin: 0 1rem 1rem 1rem;
    width: 20rem;
}



#CreateNewSpotFormSection1 {}
#CreateNewSpotFromSection1P {}

#CreateNewSpotFormSection2 {}
#CreateNewSpotFromSection2P {}

#CreateNewSpotFormSection3 {}
#CreateNewSpotFromSection3P {}

#CreateNewSpotFormSection4 {}
#CreateNewSpotFromSection4P {}

#CreateNewSpotFormSection5 {}
#CreateNewSpotFromSection5P {}



#CreateNewSpotButton {
    margin: 2rem 0 4rem 0;
    width: 16rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 25px;
}

#CreateNewSpotButton:enabled {
    border: 1px solid #FE595D;
    color: white;
    background-color: #FE595D;

}

#CreateNewSpotButton:disabled {
    border: 1px solid grey;
    color: grey;
    background-color: whitesmoke;
}

#CreateNewSpotButton:enabled:hover {
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

#CreateNewSpotButton:enabled:active{
    color: #FE595D;
    background-color: rgba(255, 255, 255, .5);
}
