#CreateNewSpotMain {

}

h1 {
    text-align: center;
}

.CreateNewSpotErrors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: 0;
}


#CreateNewSpotForm{
    margin: 2rem 4rem 4rem 4rem;
    padding: 1rem 0rem 0rem 0rem;
    border: 1px #FF5A5F solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.CreateNewSpotFormLabel {
    color: black;
    font-size: medium;
    font-weight: 600;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.CreateNewSpotFormLabelInputContainer {
    display: flex;
    justify-content: center;
}

.CreateNewSpotFormInput {
    margin-bottom: 1rem;
    width: 442px;
}

.CreateNewSpotHr {
    border: 1px grey solid;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#CreateNewSpotFormSection1, #CreateNewSpotFormSection2, #CreateNewSpotFormSection3, #CreateNewSpotFormSection4, #CreateNewSpotFormSection5     {
    width: 450px;
}

#CreateNewSpotFormSection1H4, #CreateNewSpotFormSection2H4, #CreateNewSpotFormSection3H4, #CreateNewSpotFormSection4H4, #CreateNewSpotFormSection5H4 {
    font-size: large;
    font-weight: bold;
    color: black;
}

#CreateNewSpotFormSection1P, #CreateNewSpotFormSection2P, #CreateNewSpotFormSection3P, #CreateNewSpotFormSection4P, #CreateNewSpotFormSection5P {
    margin: -.5rem 0 1.5rem 0;
    font-size: medium;
    font-weight: 400;
    color: black;
}

#basePriceLabel{
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-between;
    /* border: 2px blue dashed; */
    width: 450px

}

#basePrice {
    width: 424px;
}





#CreateNewSpotButton {
    margin: 2rem 0 4rem 0;
    width: 16rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 25px;
}

#CreateNewSpotButton:enabled {
    border: 1px solid #FE595D;
    color: white;
    background-color: #FE595D;

}

#CreateNewSpotButton:disabled {
    border: 1px solid grey;
    color: grey;
    background-color: whitesmoke;
}

#CreateNewSpotButton:enabled:hover {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

#CreateNewSpotButton:enabled:active{
    color: #FE595D;
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}
