#CreateNewSpotMain {

}

h1 {
    text-align: center;
}


#CreateNewSpotForm{
    margin: 2rem 4rem 4rem 4rem;
    padding: 4rem 0rem 0rem 0rem;
    border: 1px #FF5A5F solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.CreateNewSpotFormLabel {
    font-size: medium;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CreateNewSpotFormInput {
    margin: 0 1rem 1rem 1rem;
    width: 20rem;
}

.CreateNewSpotHr {
    border: 1px grey solid;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#CreateNewSpotFormSection1, #CreateNewSpotFormSection2, #CreateNewSpotFormSection3, #CreateNewSpotFormSection4, #CreateNewSpotFormSection5     {
    font-size: large;
    font-weight: bold;
    color: black;
}
#CreateNewSpotFromSection1P, #CreateNewSpotFromSection2P, #CreateNewSpotFromSection3P, #CreateNewSpotFromSection4P, #CreateNewSpotFromSection5P {
    font-size: medium;
    font-weight: 400;
    color: black;
}









#CreateNewSpotButton {
    margin: 2rem 0 4rem 0;
    width: 16rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 25px;
}

#CreateNewSpotButton:enabled {
    border: 1px solid #FE595D;
    color: white;
    background-color: #FE595D;

}

#CreateNewSpotButton:disabled {
    border: 1px solid grey;
    color: grey;
    background-color: whitesmoke;
}

#CreateNewSpotButton:enabled:hover {
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

#CreateNewSpotButton:enabled:active{
    color: #FE595D;
    background-color: rgba(255, 255, 255, .5);
}
