#spotToManageUpdateButton {

    margin-right: .25rem;
    width: 5rem;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #FE595D;
    color: white;
    background-color: #FE595D;

}

#spotToManageUpdateButton:hover  {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 1);

}

#spotToManageUpdateButton:active  {
    cursor: pointer;
    color: #FE595D;
    background-color: rgba(255, 255, 255, .5);
}
