#SpotDetailsMain {
    margin: 0rem 1rem 1rem 1.5rem;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#SpotDetailsH1 {
    text-align: left;
    text-wrap: nowrap;
    margin-left: .5rem;
    margin-bottom: .5rem;
}
#SpotDetailsH3 {
    text-align: left;
    text-wrap: nowrap;
    margin-left: .5rem;
    margin-top: .5rem;
}

#SpotDetailsImagesSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* border: 1px orange solid; */
}


#SpotDetailsPreviewImage {
    width: 376px;
    height: 376px;
    margin: .5rem;
}

#SpotDetailsImageGrid {
    display: grid;
    grid-template-columns: max-content max-content;
}

#SpotDetailsSpotImage-1, #SpotDetailsSpotImage-2, #SpotDetailsSpotImage-3, #SpotDetailsSpotImage-4 {
    width: 180px;
    height: 180px;
    margin: .5rem;
    /* border: 1px black solid; */
}

#SpotDetailsHostedBySection {
    width: 780px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px pink solid; */
}

#SpotDetailsHostedByTextContainer {
    margin: .5rem;
    width: 60%;
    /* border: 3px dashed gold; */
}

#SpotDetailsPriceContainer {
    margin: .5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    /* border: 1px blue solid; */
}

#SpotDetailsHr {
    color: black;
    width: 780px;
    border: 1px grey solid;
    border-color: grey;
}

#SpotDetailsPriceAndReviewsContainer{
    margin-left: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px brown solid; */
}

.spotDetailsRatingContainer {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px green solid; */
}


/* button------------------- */

#SpotDetailsReserveButton {
    margin: auto auto auto auto;
    width: 12rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 500;

    border-radius: 25px;
    border: 1px solid #FE595D;
    color: white;
    background-color: #FE595D;
}


#SpotDetailsReserveButton:enabled:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

#SpotDetailsReserveButton:enabled:active{
    cursor: pointer;
    color: #FE595D;
    background-color: rgba(255, 255, 255, .5);
}



/* Reviews--------------------- */


#SpotDetailsReviewsSection {
    margin: .5rem;
}

#SpotDetailsReviews {}

#postReviewNavLinkButton {
    margin: auto auto auto auto;
    width: 8rem;
    height: 1.5rem;
    font-size: .5rem;
    font-weight: 500;

    border-radius: 25px;
    border: 1px solid #FE595D;
    color: white;
    background-color: #FE595D;

}

#postReviewNavLinkButton :hover {
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

#postReviewNavLinkButton:active{
    color: #FE595D;
    background-color: rgba(255, 255, 255, .5);
}
