/* ======================MAIN========================== */

#LoginFormModalMain {
    width: 20rem;
    height: 36rem;
}

h1 {
    text-align: center;
}


#loginForm {
    margin: 2rem 4rem 4rem 4rem;
    padding: 4rem 0rem 4rem 0rem;
    border: 1px #FF5A5F solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginContainer {}
#passwordContainer {}
#buttonContainer {}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin: 1rem;
}

#LoginFormModalButton {
    margin: 4rem 0 4rem 0;
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #FE595D;
    border-radius: 25px;
    color: white;
    background-color: #FE595D;
    width: 100px;
}

#LoginFormModalButton:hover {
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

#LoginFormModalButton:active{
    color: #FE595D;
    background-color: rgba(255, 255, 255, .5);
}
