#reviewMain {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    align-items: baseline;
    justify-content: space-evenly;
}

#reviewReviewer {
    margin-top: 2rem;
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
}

#reviewFirstName {
    margin: 0 1rem 0rem 0;
    font-size: medium;
}

#reviewDate{
    margin: 0 1rem 0rem 0;
    font-size: small;
    color: rgb(69, 69, 69);
}

#reviewReview {
    margin: 0;
}
